extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? 
  strong(style='color: blue;') Your reset code is #{data.otp}
  p It's valid for 10 minutes
  hr
  p If you remembered your password, please ignore this email!
  p X Support Team